/* font-family: 'Bungee', cursive;
font-family: 'Moirai One', cursive;
font-family: 'Titan One', cursive; */
/***********************/
/*    General Styles   */
/***********************/

html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  font-family: "Titan One", cursive;
}

.span-quest {
  color: #ffd700;
}

/***********************/
/*  Navigation Styles  */
/***********************/
a {
  text-decoration: none;
  color: white;
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav--items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav--brand {
  font-size: 2rem;
}

.nav--cta {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffd700;
  font-family: "Titan One", cursive;
}

/***********************/
/* Landing Page Styles */
/***********************/

.hero--landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-inline: auto;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .hero--landing {
    width: 100%;
  }
}
.hero--heading {
  text-align: center;
  font-size: 4rem;
}
